.tech-icons {
    opacity: 0.93;
    border: 1.7px solid rgba(200, 137, 230, 0.637);
    border-radius: 0.3125rem; 
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
    overflow: hidden;
    transition: all 0.4s ease;
    padding-left: 2rem; 
    padding-right: 2rem; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    text-align: center; 
  }
  
  @media (min-width: 768px) {
    .tech-icons {
      padding-left: 4rem; 
      padding-right: 4rem; 
      padding-top: 2.5rem; 
      padding-bottom: 2.5rem; 
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05);
    border: 2.2px solid rgba(197, 115, 230, 0.883);
  }
  